* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

@keyframes waveAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 50%);
  background-size: 200% 200%;
  animation: waveAnimation 2s linear infinite;
}
.tool_bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tool_bar_items {
  color: #fff;
  cursor: pointer;
}

.tray {
  font-size: 22px;
  transition: all 300ms;
}

.tray:hover {
  font-size: 23px;
}

.x_mark {
  font-size: 22px;
  transition: all 300ms;
}

.x_mark:hover {
  font-size: 23px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main_title {
  margin: 50px;
  text-align: center;
}

.input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input_box {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.input_box > textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 5px;
  outline-style: none;
  resize: none;
}

.input_container > button {
  width: 50%;
  height: 50px;
  margin-top: 50px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}

.input_container > button:hover {
  width: 52%;
  height: 52;
}
